.App {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
}

.placeHolder {
  height: 100vh;
  background-color: lightgray;
  border: black solid;
}

.hidden {
  opacity: 0;
  height: 50vh;
}

.show {
  opacity: 1;
  height: 50vh;
  background-color: yellow;
}
